In [1]:
import pandas as pd
import numpy as np

In [3]:
acad=pd.read_excel('C:/Users/Garima Singh/Desktop/mooc data analysis/acad.xlsx')
acad

    Rsp No  aa  pe  sm  ae  r  g  c
0        1  99  19   1   2  0  0  1
1        2  46  12   0   0  0  0  0
2        3  57  15   1   1  0  0  0
3        4  94  18   2   2  1  1  1
4        5  82  13   2   1  1  1  1
5        6  59  12   0   0  2  0  0
6        7  61  12   1   2  0  0  0
7        8  29   9   0   0  1  1  0
8        9  36  13   1   1  0  0  0
9       10  91  16   2   2  1  1  0
10      11  55  10   0   0  1  0  0
11      12  58  11   0   1  0  0  0
12      13  67  14   1   1  0  1  1
13      14  77  14   1   2  2  1  0
14      15  71  12   0   0  2  1  0
15      16  83  16   2   2  1  0  1
16      17  96  15   2   2  2  0  1
17      18  87  12   1   1  0  0  1
18      19  62  11   0   0  0  0  0
19      20  52   9   0   1  2  1  0
20      21  46  10   1   0  0  1  0
21      22  91  20   2   2  1  0  0
22      23  85  12   2   1  1  1  1
23      24  48  11   1   1  2  0  0
24      25  81  17   1   1  1  1  1
25      26  74  16   2   1  2  1  0
26      27  68  12   2   1  1  1  1
27      28  63  12   1   0  0  0  1
28      29  72  14   0   2  0  0  0
29      30  99  19   1   1  1  0  0
30      31  64  13   1   1  0  0  0
31      32  77  13   1   0  1  1  1
32      33  88  16   2   2  0  1  0
33      34  54   9   0   1  1  0  0
34      35  86  17   1   2  1  0  1
35      36  73  15   1   1  0  1  0
36      37  79  15   2   1  0  0  1
37      38  85  14   2   1  2  1  1
38      39  96  16   0   1  1  0  1
39      40  59  12   1   0  0  1  0
40      41  84  14   1   0  1  0  1
41      42  71  15   2   1  1  0  0
42      43  89  15   0   1  0  1  1
43      44  38  12   1   0  1  1  0
44      45  62  11   1   1  2  0  1
45      46  93  16   1   0  1  0  1
46      47  71  13   2   1  1  0  0
47      48  55  11   0   1  0  0  0
48      49  74  15   1   2  0  1  0
49      50  76  20   0   1  1  0  1

In [4]:
#poisson gof test
obs=pd.pivot_table(acad[['g','sm']],index='g',columns='sm',aggfunc=len)

In [6]:
obs #contingency table with obs f

sm   0   1  2
g
0   10  13  6
1    4   9  8

In [13]:
from scipy.stats import chi2_contingency
chi2,p,dof,tb1=chi2_contingency(obs)
chi2

2.3649585225939904

In [14]:
p

0.3065178579178871

In [15]:
dof

2

In [16]:
tb1 #contingency table of exp f

array([[ 8.12, 12.76,  8.12],
       [ 5.88,  9.24,  5.88]])

In [37]:
import matplotlib as mp
import numpy as np
from scipy.optimize import minimize
import scipy.stats as stats
from scipy import stats
import statsmodels.api as sm
from statsmodels.formula.api import ols
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import math
import scipy
from scipy import stats
import pandas as pd
import numpy as np
import math
import scipy
from scipy import stats
from scipy import stats
import statsmodels.api as sm

import statsmodels.formula.api 
import statsmodels.formula.api as smf
from statsmodels.formula.api import ols
from matplotlib import pyplot as plt
from scipy.stats import chi2
from scipy.stats import poisson
data=pd.read_excel('C:/Users/Garima Singh/Desktop/mooc data analysis/P_distribution.xlsx')
data

    Arrivals  Frequency
0          0          0
1          1          1
2          2          4
3          3         10
4          4         14
5          5         20
6          6         12
7          7         12
8          8          9
9          9          8
10        10          6
11        11          3
12        12          1

In [38]:
obs_freq=data['Frequency']
obs_freq

0      0
1      1
2      4
3     10
4     14
5     20
6     12
7     12
8      9
9      8
10     6
11     3
12     1
Name: Frequency, dtype: int64

In [39]:
total_arrival=600
total_time=100
mu=total_arrival/total_time
mu

6.0

In [40]:
#finding expected f
exp_freq=[]
for i in range(len(obs_freq)):
    e_freq=100*poisson.pmf(i,mu)
    exp_freq.append(e_freq)

In [41]:
exp_freq

[0.24787521766663584,
 1.4872513059998145,
 4.461753917999444,
 8.923507835998894,
 13.385261753998332,
 16.062314104797995,
 16.06231410479801,
 13.767697804112569,
 10.32577335308442,
 6.883848902056284,
 4.130309341233764,
 2.2528960043093247,
 1.1264480021546681]

In [42]:
exp_freq_round=[round(elem,2) for elem in exp_freq]
exp_freq_round #rounding nos

[0.25,
 1.49,
 4.46,
 8.92,
 13.39,
 16.06,
 16.06,
 13.77,
 10.33,
 6.88,
 4.13,
 2.25,
 1.13]

In [43]:
df=pd.DataFrame(list(zip(obs_freq,exp_freq_round)),columns=['Obs freq','Exp freq'])
df

    Obs freq  Exp freq
0          0      0.25
1          1      1.49
2          4      4.46
3         10      8.92
4         14     13.39
5         20     16.06
6         12     16.06
7         12     13.77
8          9     10.33
9          8      6.88
10         6      4.13
11         3      2.25
12         1      1.13

In [44]:
obs_freq=[5,10,14,20,12,12,9,8,10]
exp_freq=[6.2,5,6,7,8,9,7,6,8]

In [45]:
 scipy.stats.chisquare(obs_freq,exp_freq) # gives chi square cal and p value

Power_divergenceResult(statistic=44.77987711213518, pvalue=4.050901717224414e-07)

In [46]:
from scipy.stats import chi2
chi2.ppf(0.95,7) #gives table chi square value

14.067140449340169

In [47]:
#uniform gof test
x=[13,343,3432,234,123,45345,23,233,342,234]
np.mean(x)

5032.2

In [48]:
exp_f=[5032.2,5032.2,5032.2,5032.2,5032.2,5032.2,5032.2,5032.2,5032.2,5032.2]
from scipy.stats import chisquare
chisquare(x,exp_f)

Power_divergenceResult(statistic=360703.37458765553, pvalue=0.0)

In [49]:
#normal dis gof test
a=[1,2,3,4,5,6,7,8,9]
mean=np.mean(a)

In [50]:
mean

5.0

In [51]:
std=np.std(a)

In [52]:
std

2.581988897471611

In [54]:
x=1/6
for j in range(1,6):
    prob_int=[scipy.stats.norm.ppf(j*x,mean,std)]

In [55]:
prob_int

[7.49787174284919]

In [56]:
exp_freq=[5,5,5,5,5,5]
obs_freq=[6,3,6,5,4,6]

In [59]:
scipy.stats.chisquare(obs_freq,exp_freq)

Power_divergenceResult(statistic=1.5999999999999999, pvalue=0.9012493445012737)

In [60]:
chi2.ppf(0.95,3) #table chi square value

7.814727903251179