In [4]:
import scipy
from scipy.spatial import distance

In [5]:

import numpy as np

In [6]:

a=[1,2,3]
b=[4,5,6]
dist=distance.euclidean(a,b)
dist

5.196152422706632

In [7]:
distance.minkowski([1,0,0],[0,1,0],1) #manhattan

2.0

In [8]:
distance.minkowski([1,0,0],[0,1,0],2) #euclidean

1.4142135623730951

In [9]:
distance.minkowski([1,0,0],[0,1,0],3) #minkowski

1.2599210498948732

In [10]:
import pandas as pd
from scipy.spatial import distance_matrix

In [11]:
data=[[1,4],[2,5],[3,6]]
df=pd.DataFrame(data,columns=['a','b'])
df

   a  b
0  1  4
1  2  5
2  3  6

In [12]:
pd.DataFrame(distance_matrix(df.values,df.values))

          0         1         2
0  0.000000  1.414214  2.828427
1  1.414214  0.000000  1.414214
2  2.828427  1.414214  0.000000

In [13]:
data=[[1,4],[2,5],[3,6]]
ctys=['a','b','c']
df=pd.DataFrame(data,columns=['wt','ht'],index=ctys)
df

   wt  ht
a   1   4
b   2   5
c   3   6

In [14]:
dist_mat=pd.DataFrame(distance_matrix(df.values,df.values),index=df.index,columns=df.index)

In [15]:
dist_mat

          a         b         c
a  0.000000  1.414214  2.828427
b  1.414214  0.000000  1.414214
c  2.828427  1.414214  0.000000

In [16]:
dist_mat.round(decimals=2,out=None)

      a     b     c
a  0.00  1.41  2.83
b  1.41  0.00  1.41
c  2.83  1.41  0.00

In [17]:
#k means clustering
#plot scatter plot
from sklearn.cluster import KMeans
kmeans=KMeans(n_clusters=2) #no of clusters 2
kmeans.fit(data)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [18]:
labels=kmeans.predict(data)
centroids=kmeans.cluster_centers_
centroids

array([[3. , 6. ],
       [1.5, 4.5]])

In [19]:
#diagram of clusters
import matplotlib.pyplot as plt
fig=plt.figure(figsize= (5,5))
colmap={1:'r',2:'b'}
colors=map(lambda x: colmap[x+1], labels)
colors1=list(colors)
fig,ax= plt.subplots()
ax.scatter(a,b,color=colors1,alpha=0.5,edgecolor='k')
for idx,centroid in enumerate(centroid):
    plt.scatter(*centroid, color=colmap[idx+1])
for i,txt in enumerate(n):
    ax.annotate(txt,(x[i],y[i]))
plt.grid()
plt.xlim(0,5)
plt.ylim(0,5)
plt.show()

NameError: name 'centroid' is not defined